In [25]:
import numpy as np
import pandas as pd
from ydata_profiling import ProfileReport

# Load both split files
df1 = pd.read_csv("NL-books_part1.csv", delimiter=",")
df2 = pd.read_csv("NL-books_part2.csv", delimiter=",")

# Combine into one dataframe
df = pd.concat([df1, df2], ignore_index=True)

# Optional: verify shape
print(df.shape)

(523191, 9)

C:\Users\dehor\AppData\Local\Temp\ipykernel_12240\831271280.py:7: DtypeWarning: Columns (3,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("NL-books_part2.csv", delimiter=",")

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523191 entries, 0 to 523190
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             523191 non-null  int64
 1   isbn           338287 non-null  object
 2   title          441407 non-null  object
 3   description    143802 non-null  object
 4   authors        412525 non-null  object
 5   publisher      136561 non-null  object
 6   publisheddate  184379 non-null  object
 7   categories     170063 non-null  object
 8   avg_rating     325385 non-null  float64
dtypes: float64(1), int64(1), object(7)
memory usage: 35.9+ MB

In [13]:
df_no_id = df.drop(columns=["id"])
profile = ProfileReport(df_no_id, title="Profiling Report", html={"inline": False})
profile.to_file("profiling_report_without_id.html")

100%|██████████| 8/8 [00:13<00:00,  1.71s/it]14<00:09,  2.00s/it, Describe variable: avg_rating]
Summarize dataset: 100%|██████████| 19/19 [00:16<00:00,  1.17it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:03<00:00,  3.80s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00, 13.98it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 1000.07it/s]

In [19]:
# get rows where all columns are not null
df = df.dropna(how="any")
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18048 entries, 0 to 23920
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             18048 non-null  int64
 1   isbn           18048 non-null  object
 2   title          18048 non-null  object
 3   description    18048 non-null  object
 4   authors        18048 non-null  object
 5   publisher      18048 non-null  object
 6   publisheddate  18048 non-null  object
 7   categories     18048 non-null  object
 8   avg_rating     18048 non-null  float64
dtypes: float64(1), int64(1), object(7)
memory usage: 1.4+ MB

In [22]:
18048/523191 * 100

3.4496006238639425